@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --color-text: #333333;
  --primary-color: #0075f2;
  --light-black: #e0e0e0;
  --light-grey: #bdbdbd;
  --darker-grey: #828282;
  --light-purple: #e3e0f5;
  --dark-purple: #33277c;
  --green: #adebcc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 395px) {
  body {
    font-size: 14px;
  }
}
